*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header .container{
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 86px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main_banner .container{
    max-width: 600px;
    margin: auto;
}

.main_banner h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-top: 466px;
}
.main_banner h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 18px;
}
.main_banner p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 71px;
}
.help_photo{
    background: #000000;
    padding: 113px 0 108px 0;
    text-align: center;
}
.help_photo .container{
    max-width: 600px;
    margin: auto;
}
.help_text_one{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.help_text_two{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 22px;
}
.get{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 6px 10px 6px 3px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.get:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
    margin-right: 10px;
}
.bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;
}
.bottom_icon li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.bottom_icon li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.bottom_icon li:nth-child(2):before{
    background-image: url("../images/icon_2.svg");
}
.bottom_icon li:nth-child(3):before{
    background-image: url("../images/icon_3.svg");
    width: 32px;
}
.bottom_icon li:nth-child(4):before{
    background-image: url("../images/icon_4.svg");
    width: 10px;
    height: 16px;
}
.fuji_banner{
    background-image: url("../images/fuji.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.fuji_banner .container{
    max-width: 298px;
    margin-right: 62px;
}
.banner_article{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.leaves_banner{
    background-image: url("../images/leaves.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.leaves_banner .container{
    max-width: 273px;
    margin-right: 87px;
}
.past_clients{
    padding: 113px 0 140px;
    background-color: black;
}
.past_clients .container{
    max-width: 1076px;
    margin: auto;
}
.past_clients h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.past_clients h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 82px;
}
.past_clients .companies{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.himalayas_banner{
    background-image: url("../images/himalayas.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.himalayas_banner .container{
    max-width: 254px;
    margin-right: 106px;
}
.four_photos{
    padding-top: 113px;
    padding-bottom: 100px;
    background-color: black;
}
.four_photos .container{
    max-width: 1170px;
    margin: auto;
}

.four_photos h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.four_photos h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 42px;
}
.flex_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.img_wight{
    display: block;
    width: 100%;
}
.photo_text{
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.photo_article{
    max-width: 576px;
    position: relative;
    margin-bottom: 16px;
}
.p_title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.p_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 15px;
}
.photo_text a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 7px 3px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
.tools{
    position: relative;
    background-color: black;
}
.tools .img_bg{
    width: 50%;
    position: absolute;
    height: 100%;
    background-image: url("../images/img_bg.jpg");
    background-size: cover;
    right: 0;
    top: 0;
}
.tools .container{
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 540px;
}
.tools .information{
    max-width: 514px;
    color: white;
}
.tools .information h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-bottom: 6px;
}
.tools .information h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 14px;
}
.tools .information p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
footer{
    padding: 100px 0;
    background-color: black;
}
footer .container{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px white;
    padding-bottom: 26px;
}
footer .container:last-of-type{
    border: none;
}
footer .right_sub-menu{
    display: flex;
    align-items: flex-start;
}
footer .right_sub-menu ul{
    list-style: none;
}
footer .right_sub-menu ul:first-of-type{
    margin-right: 55px;
}
footer .right_sub-menu ul:last-of-type{
    margin-right: 100px;
}
footer .right_sub-menu ul li:first-of-type{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
footer .right_sub-menu ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
footer form{
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    max-width: 458px;
    width: 100%;
    height: 52px;
    padding: 11px 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer form .form-control{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 80%;
    display: inline-block;
}
footer form button{
    background-color: black;
    height: 30px;
    border: none;
    border-radius: 11px;
    width: 63px;
}
.form_search{
    display: none;
}
footer p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    padding-top: 20px;
}
footer h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;

}
footer .container:nth-child(2){
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer_links{
    list-style: none;
    display: flex;
}
footer .container:last-of-type{
    padding-top: 60px;
}
.footer_links li{
    margin-left: 20px;
}
